.card_info {


  &-image {
    width: 50%;
    height: 80%;

    &-list {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 25%;
      width: 100%;
    }

    &-mini {
      height: 100%;
      width: 100%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &-info {
    padding: 0 10px;
    width: 50%;

    &-text {
      font-weight: 700;
      font-size: 20px;
    }

    &-block {
      margin-top: 10px;
    }
  }

  &-button {
    position: absolute;
    bottom: 10px;
    right: 16%;
  }
}