.superheroes-list {
  margin: 100px auto;
  display: flex;
  width: 1200px;
  //height: 700px;
  overflow: hidden;
  text-align: center;

  &_button-page {
    display: flex;
    justify-content: space-around;
  }
}

.hero-item {
  margin-right: 50px;
  height: 300px;
  min-width: 200px;
}