.card {
  border: 1px solid rgba(45, 45, 45, 0.51);
  border-radius: 5px;
  background-color: #ffffff;
  &:hover {
    cursor: pointer;
  }

  &-body {

    &_image {
      height: 250px;
      width: 100%;
    }
  }
}