.button-save {
  position: absolute;
  right: 0;
  bottom: 0;
}

.input_change-file {
  width: 115px;

}

.more-image-input {
  width: 115px;
}

.change-file {
  //margin-bottom: 40px;
}

.additional-photos {
  margin-top: 30px;
  margin-bottom: 10px;
}