.button-save {
  position: absolute;
  right: 0;
  bottom: 0;
}

.input_change-file {
  width: 115px;

}

.more-image-input {
  width: 115px;
}

.change-file {
  //margin-bottom: 40px;
}

.additional-photos {
  margin-top: 30px;
  margin-bottom: 10px;
}

.btn-select-avatar {
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 5px;
  padding: 8px;
  &:hover {
    opacity: 0.8;
  }
}

.preload-avatar {
  margin-top: 10px;
  height: 300px;
  margin-bottom: 20px;
}

.preload-all-image {
  height: 150px;
  display: flex;
  //width: 100px;
  margin-top: 30px;
}

.preload-avatar-button {
  position: absolute;
  top: 0;
  left: 200px;
}

.preload-all-image-block {
  height: 100%;
  width: 100%;
}

.preload-all-image-button {
  position: absolute;
  left: 200px;
  bottom: 230px;
}

.select-avatar {
  position: absolute;
  top: -15px;
  left: 320px;
  color: #FF0000FF;
}