.slider {

  &-container {

  }

  &-line {
    display: flex;
    justify-content: start;
    width: 1200px;
  }

  &-block {
    margin-right: 50px;
    text-align: center;
    height: 300px;
    min-width: 200px;
  }

  &-button {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
  }
}